<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Starter Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <style>
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
  </style>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dart JS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Symfony</h1>
      <button class="btn btn-primary" id="setBtn">Set Name</button>
      <input type="text" value="Bob" id="setInput"/><br><br>

      <button class="btn btn-info" id="getBtn">Get Name</button>
      <input type="text" id="getInput"/><br><br>

      <div>
        Drag the button
      </div>
      <button draggable="true" class="btn btn-success" id="dragBtn">Beth</button>
      <input type="text" value="Beth" id="dragInput"/><br><br>

    </div>
    <div class="col-md-6" badges ng-cloak>
      <h1>Dart App</h1>

      <div class="widgets">
        <div>
          <input type="text" id="inputName" maxlength="15" ng-model="ctrl.name">
        </div>
        <div>
          <button ng-click="ctrl.generateName()">
            {{ctrl.label}}</button>
        </div>
      </div>
      <badge name="{{ctrl.pirateName | capitalize}}"
             style='float: left; margin-left: 20px;'></badge>
    </div>
  </div>


</div><!-- /.container -->

<script src="packages/shadow_dom/shadow_dom.min.js"></script>
<script type="application/dart" src="main.dart"></script>
<script src="packages/browser/dart.js"></script>
<script src="packages/browser/interop.js"></script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
